<nav class="profile-nav">
    <ul>
        <li class="dashboard">Tableau de bord</li>
        <li><a href="{{ path('app_profile_index') }}">Informations personnelles</a></li>
        <li><a href="{{ path('app_profile_address_index')}}">Vos adresses</a></li>
        <li><a href="{{ path('app_profile_devis_index')}}">Demande de devis effectuées</a></li>
        <li><a href="#">Avis</a></li>
    </ul>
</nav>