<h1>Bonjour ! Veuillez confirmer votre email.</h1>

<p>
	Veuillez cliquer sur ce lien pour confirmer votre email !
	<br><br>
	<a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
				    Ce lien expirera dans 1 heure.
</p>

