{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	Profile
{% endblock %}

{% block body %}
	<section class="container">
		<div class="welcome text-center">
			<h1>Bienvenue sur votre Profil !</h1>
			<p>C'est ici que vous pouvez gérer toutes vos informations !</p>
		</div>
	</section>
{% endblock %}
