<h1>Votre devis est désormais terminé !</h1>

<p>
	Merci à vous pour votre confiance ! Nous espérons vous revoir bientôt chez CCT-TOLERIE !
</p>
<p>
    Vous pouvez également laisser un avis sur notre site web <a href="#">CCT-TOLERIE</a>
</p>
<p>
    Notre adresse : 95 impasse des entreprises 42740 SAINT-PAUL-EN-JAREZ
</p>
<p>
    Notre numéro de téléphone :  04 77 29 19 67
</p>