<h1>Votre devis a été accepté !</h1>

<p>
	Veuillez prendre contact avec nous par téléphone !
</p>
<p>
    Vous pouvez également nous rencontrer à l'adresse de l'entreprise !
</p>
<p>
    Notre adresse : 95 impasse des entreprises 42740 SAINT-PAUL-EN-JAREZ
</p>
<p>
    Notre numéro de téléphone :  04 77 29 19 67
</p>
