<form class="mt-1" action="{{ path('app_devis_delete', {id: devis.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir annuler ce devis ?')">
	<input type="hidden" name="token" value="{{ csrf_token('delete' ~ devis.id) }}">
	<button type="submit" class="button button-card-delete">Annuler le devis</button>
</form>