<nav class="admin-sidebar">
    <ul class="admin-sidebar-content">
        <li><a href="{{ path('admin_users_index') }}">Utilisateurs</a></li>
        <li><a href="{{ path('admin_categories_index') }}">Catégories</a></li>
        <li><a href="">Réalisations</a></li>
        <li><a href="">Devis</a></li>
        <li><a href="">Avis clients</a></li>
        <li><a href="">Contacts clients</a></li>
        <li><a href="{{ path('app_logout') }}" data-turbo="false">Deconnexion</a></li>
    </ul>
</nav>