<form action="{{ path('admin_realisations_delete', {id: realisation.id}) }}" method="POST" {{stimulus_controller('modal')}}>
	<input type="hidden" name="token" value="{{ csrf_token('delete' ~ realisation.id) }}">
	<button type="submit" class="button button-card-delete">Supprimer</button>
</form>