@import './typography';

h1 , h2 , .slogan {
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3, h4, h5, h6 , .subtitle {
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
}


h1, .slogan {
    font-size: 64px;
}

h2 {
    font-size: 48px
}

h3, .subtitle {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

body {
    font-family: "Nunito Sans", sans-serif;
    overflow-x: hidden;
}

main {
    margin-bottom:10rem;
    & section:first-child:not(.no-space) {
        margin-top:4rem;
    }
}

li {
    list-style:none;
}

a {
    text-decoration:none;
    font-weight: 600;
}

button {
    font-weight:400;
}

#title {
    padding-top: 4rem;
}

