{% extends 'Backend/base.html.twig' %}

{% block title %}
    {{ parent() }}
    Categories
{% endblock %}

{% block body %}
    <h1 class="text-center">Administration des catégories</h1>
{% endblock %}
