<div class="container admin-pagination-droppable dropdown-pagination-content">
	<div class="admin-pagination-droppable-container-sort">
		{{ knp_pagination_sortable(devis, 'Nom (descendant)', 'd.lastname', {'direction': 'DESC'}) }}
	</div>
	<div class="admin-pagination-droppable-container-sort">
		{{ knp_pagination_sortable(devis, 'Date (descendant)', 'd.createdAt', {'direction': 'DESC'}) }}
	</div>
</div>
