.modal-container {
    visibility:hidden;
    position:fixed;
    top:0;
    width:100vw;
    height:100vh;
    z-index: 90;
    pointer-events:none;
    transition: visibility 0.3s;

    .overlay {
        opacity: 0;
        position:absolute;
        width:100%;
        height:100%;
        background: #333333d3;
        transition: opacity 0.3s 0.150s ease-out;
    }

    .modal {
        opacity: 0;
        width: 95%;
        max-width: 500px;
        min-width: 300px;
        padding: 30px;
        background: #fff;
        border-radius: 5px;
        position:absolute;
        top:40%;
        left:50%;
        transform: translate(-50%, calc(-50% - 50px));
        transition: opacity 0.3s ease-out,
        transform 0.3s ease-out;
    }

    .close-modal {
        padding: 8px 10px;
        border:none;
        border-radius: 5px;
        font-size:16px;
        position:absolute;
        top: 10px;
        right: 10px;
        cursor:pointer;
        background: #ff365e;
        color: #fff;
    }

    .button-container-modal {
        margin-top: 1rem;
        width: 70%;
        display:flex;
        justify-content:space-between;

        .modal-button-yes {
            background-color: $button-red;
            padding: 10px;
            font-size: 16px;
            font-weight: bold;
            color:#fff;
            width:48%;
            display:block;
            border:none;
            cursor:pointer;
            transition: background-color 0.3s ease;
        }
        .modal-button-yes:hover {
            background-color: darken($button-red, 10%);
        }
        .modal-button-no {
            background-color: #6c757d;
            border:none;
            font-weight: bold;
            width:48%;
            color:#fff;
            font-size: 16px;
            padding: 10px;
            display:block;
            cursor:pointer;
            transition: background-color 0.3s ease;
        }
        .modal-button-no:hover {
            background-color: #5a6268;
        }
    }
}

.modal-container.active {
    visibility:visible;
    pointer-events: all;
}

.modal-container.active .overlay {
    opacity:1;
    transition: opacity 0.3s ease-out;
}

.modal-container.active .modal {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s 0.150s ease-out,
    transform 0.3s 0.150s ease-out;
}

.bi-exclamation-triangle-fill {
    font-size:80px;
    color: $button-red;
}

