.wrapper-cards {
    display:grid;
    grid-template-columns: repeat(5, 19%);
    gap: 1rem;
    @media screen and (max-width: 1350px) {
        grid-template-columns: repeat(4, 24%);
    }
    @media screen and (max-width:1050px) {
        grid-template-columns: repeat(3, 32%);
    }
    @media screen and (max-width:750px) {
        grid-template-columns: repeat(2, 49%);
    }
    @media screen and (max-width: 550px) {
        grid-template-columns: 1fr;
    }
}

.profile-wrapper {
    display:grid;
    grid-template-columns: 25% 75%;
    gap: 2rem;
}

.address-wrapper {
    margin-top: 1rem;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    margin-bottom: 2rem;
}