.wrapper-cards {
    display:grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    @media screen and (min-width:960px) and (max-width:1280px) {
        grid-template-columns: repeat(3, 1fr);
        // gap:20px;
    }
    @media screen and (min-width:600px) and (max-width:960px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width:600px) {
        grid-template-columns: 1fr;
    }
}

.wrapper-cards-3 {
    display:grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    @media screen and (min-width:960px) and (max-width:1280px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width:600px) and (max-width:960px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width:600px) {
        grid-template-columns: 1fr;
    }
}

.profile-wrapper {
    display:grid;
    grid-template-columns: 25% 75%;
    gap: 2rem;
}

.address-wrapper {
    margin-top: 1rem;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    margin-bottom: 2rem;
}

.wrapper-devis {
    display:flex;
    gap: 1em;
    justify-content: space-between;
    flex-wrap: wrap;
    .card-admin {
        width:49%;
    }
    @media screen and (min-width:960px) and (max-width:1280px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width:600px) and (max-width:960px) {
        grid-template-columns: 1fr;
    }
    @media screen and (max-width:600px) {
        grid-template-columns: 1fr;
    }
}

.swiper-button-prev, .swiper-button-next {
    color:white;
}

.wrapper-devis-slider {
    position:relative;

    .button-next-devis {
        right: -4rem;
        position:absolute;
        bottom:19rem;
        font-size: 30px; /* Taille de l'icône */
        color: black; /* Couleur de la flèche */
        background-color: $yellow; /* Couleur de fond */
        border-radius: 10px; /* Ajoute un peu d'arrondi si nécessaire */
        padding: 6px; /* Espace entre l'icône et le bord du bouton */
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: .2s ease-in;
        cursor:pointer;
    }
    .button-prev-devis {
        left: -4rem;
        position: absolute;
        bottom:19rem;
        font-size: 30px; /* Taille de l'icône */
        color: black; /* Couleur de la flèche */
        background-color: $yellow; /* Couleur de fond */
        border-radius: 10px; /* Ajoute un peu d'arrondi si nécessaire */
        padding: 6px; /* Espace entre l'icône et le bord du bouton */
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: .2s ease-in;
        cursor:pointer;
    }
}