<header>
	{% include 'Frontend/Layout/_logo.html.twig' %}
	<nav>
		<ul class="menu">
			<li class="item">
				<a class="link" href="">Accueil</a>
			</li>
			<li class="item">
				<a class="link" href="">L'entreprise</a>
			</li>
			<ul class="dropdown">
				<li>
					<a href="#" class="dropButton">Réalisations<i class="bi bi-caret-down-square-fill"></i>
					</a>
				</li>
				<ul id="myDropdown" class="dropdown-content">
					<li>
						<a href="#">Escaliers</a>
					</li>
					<li>
						<a href="#">Cuisines</a>
					</li>
					<li>
						<a href="#">Gardes-corps</a>
					</li>
					<li>
						<a href="#">Metallerie</a>
					</li>
					<li>
						<a href="#">Mobilier</a>
					</li>
					<li>
						<a href="#">Professionnel</a>
					</li>
				</ul>
			</ul>
			{% if (app.user) %}
				<ul class="dropdown">
					<li>
						<a href="#" class="dropButton">Mon compte<i class="bi bi-caret-down-square-fill"></i>
						</a>
					</li>
					{% if app.user.isVerified == 1  %}
						<ul id="myDropdown2" class="dropdown-content">
							<li class="item">
								<a href="">Mon profil</a>
							</li>
							<li class="item">
								<a href="">Mes devis</a>
							</li>
							<li class="item">
								<a href="{{ path('app_logout') }}">Déconnexion</a>
							</li>
						</ul>
					{% endif %}
				</ul>
			{% else %}
				<li class="item">
					<a href="{{ path('app_login') }}" class="link">Se connecter</a>
				</li>
			{% endif %}
		</ul>
	</nav>
</header>
