<form action="{{ path('app_profile_address_delete', {id: address.id}) }}" method="POST" {{stimulus_controller('modal')}}>
	<input type="hidden" name="token" value="{{ csrf_token('delete' ~ address.id) }}">
	<button type="submit" class="button button-card-delete">Supprimer</button>
</form>